<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alimentación - Nuvia</title>
  <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body class="page-bg">

  <div class="mobile-wrapper">
    <main class="card alimentacion-card">

      <section class="alimentacion-header">
        <a href="menu.html" class="alimentacion-back-btn" aria-label="Volver al menú">
        ←
        </a>

        <div class="alimentacion-title-box">
          <h1 class="alimentacion-title">Alimentación</h1>
          <p class="alimentacion-subtitle">Tu plan de alimentación</p>
        </div>

        <img src="../assets/img/logo_nuvia.png" alt="Logo Nuvia" class="alimentacion-logo">
      </section>

      <section class="alimentacion-content">

        <section class="alimentacion-plan-box">

          <div class="alimentacion-plan-header">
            <span class="alimentacion-plan-icon">🍏</span>
            <h2 class="alimentacion-plan-title">Plan Nutricional Diario</h2>
          </div>

          <div id="alimentacionContainer"></div>

        </section>

      </section>

    </main>
  </div>

  <script type="module">
    import { Container } from '../src/container.js';
    const container = new Container({ http: { url: import.meta.env.VITE_BACKEND_ENDPOINT } });
    container.alimentacionController.init();
  </script>

</body>
</html>