<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estadísticas</title>
   <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body class="page-bg">

  <div class="mobile-wrapper">
    <main class="card estadisticas-card">

      <section class="estadisticas-header">

        <a href="menu.html" class="estadisticas-back-btn">
          ←
        </a>

        <div class="estadisticas-title-box">
          <h1 class="estadisticas-title">Estadísticas</h1>
          <p class="estadisticas-subtitle">Monitorea tu progreso</p>
        </div>

        <img src="../assets/img/logo_nuvia.png" alt="Logo Nuvia" class="estadisticas-logo">

      </section>

      <section class="estadisticas-content">

        <a href="consultar-estadisticas.html" class="estadisticas-option">
          <div class="estadisticas-option-icon estadisticas-option-icon-purple">
            📊
          </div>

          <div class="estadisticas-option-text">
            <h2>Consultar Estadísticas</h2>
            <p>Visualiza tu progreso</p>
          </div>
        </a>

        <a href="actualizar-peso.html" class="estadisticas-option">
          <div class="estadisticas-option-icon estadisticas-option-icon-pink">
            ⚖
          </div>

          <div class="estadisticas-option-text">
            <h2>Actualizar Peso</h2>
            <p>Registra tu peso actual</p>
          </div>
        </a>

      </section>

    </main>
  </div>

</body>
</html>